@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  background: #333;
  color: #ddd;
  font-family: "Roboto Mono", monospace;
}

.status-header {
  background: #555;
  margin: 0;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.panel {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 1rem;
  word-break: break-all;
}


.event {
  margin: 1rem;

  .event-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}

.canvas-container {
  width: 100%;
  height: 50vh;
}